<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="information-card">
  <template>
    <style>
      /*:host {
        display: flex;
      }*/
    </style>
      <h2>[[prop1]]</h2>
    <div class="textos-container"></div>
    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</span>
  </template>

  <script>
    /**
     * `information-card`
     * informacionde la tarjeta
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class InformationCard extends Polymer.Element {
      static get is() { return 'information-card'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'Label'
          }
        };
      }
    }

    window.customElements.define(InformationCard.is, InformationCard);
  </script>
</dom-module>
